html {
  background-color: #9fbb9d;
  background: url(../gray_linen_background.jpg); }

body {
  width: 600px;
  margin: 0 auto; }

#logo-link {
  display: block;
  margin: 140px 0 30px;
  text-align: center; }

#search-input {
  border: 1px solid #999;
  color: #545C5F;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 12px 12px 10px;
  width: 600px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px; }

#soulmate {
  background-color: #fafafa;
  border: 1px solid #bbb;
  display: none;
  font: 12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  list-style: none;
  margin: 0 0 0 10px;
  padding: 0;
  position: absolute;
  text-shadow: 0 0 0 white;
  top: 306px;
  width: 579px;
  z-index: 1000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }
  #soulmate .soulmate-type-container {
    border-top: 1px solid #ddd; }
    #soulmate .soulmate-type-container:first-child {
      border-top: none; }
  #soulmate .soulmate-type-suggestions {
    border-left: 1px solid #ddd;
    float: right;
    list-style: none;
    padding: 5px 0;
    width: 490px;
    letter-spacing: 0.5px; }
  #soulmate .soulmate-suggestion {
    color: #111;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    padding: 5px 0 6px 12px;
    text-decoration: none; }
    #soulmate .soulmate-suggestion.focus {
      color: white;
      margin-left: -1px;
      margin-right: -1px;
      padding-left: 13px;
      position: relative;
      text-shadow: 0 1px 1px #32629b;
      z-index: 1;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      -khtml-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      background: #545454;
      background: -moz-linear-gradient(top, #545454 0, #444444 100%);
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#545454), to(#444444));
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#545454,endColorstr=#444444)";
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#545454,endColorstr=#444444); }
  #soulmate .soulmate-type {
    background-color: white;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    letter-spacing: 0.5px;
    margin-right: 490px;
    padding: 10px 10px 0 10px;
    text-align: right;
    text-transform: capitalize;
    vertical-align: top;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    zoom: 1; }
    #soulmate .soulmate-type:before, #soulmate .soulmate-type:after {
      content: "";
      display: table; }
    #soulmate .soulmate-type:after {
      clear: both; }

#footer {
  margin-top: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #444;
  text-align: center; }
  #footer a {
    color: #000;
    text-decoration: none; }
    #footer a:hover {
      text-decoration: underline; }
